*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato",sans-serif;
}
nav{
    top: 0;
    margin: 0 auto;
    text-align: center;
    background-color: #0a58ca;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 0.95;
    width: 100%;
    position: fixed;
}
nav ul{
    text-align: center;
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    color: #fff;
    padding: 1.5rem;
    font-size: 2rem;
    text-decoration: none;
}
nav ul li a:hover{
    color: darkblue;
}
nav img{
     width: 150px;
 }
main{
    margin-top: 12rem;
    /* https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
}
#wie-ben-ik{
    margin:0 auto;
    padding-top: 250px;
    text-align: center;
}
main h1, main h3, main p{
    margin: 3rem;
}

.info{
    width: 300px;
    padding: 30px;
    color: darkblue;
    background-color: #d1d1e1;
    border-radius: 20px;
}
.persoonlijke-info, .andere-info{
    padding-top: 50px;
    margin: 50px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
 }
.andere-info img{
    height: 500px;
}
#projecten{
    color: white;
    padding: 250px 0 900px 0;
    margin:0 auto;
    text-align: center;
    background-image: linear-gradient(white,#0a58ca,#0a58ca, white);
}
#photoshop, #logos-en-ontwerpen{
    display: inline-block;
    flex-direction:row ;
    flex-wrap: wrap;
    margin: 0 auto;
}
#photoshop img, #logos-en-ontwerpen img{
    margin: 0 auto;
    padding: 10px;
}
#opdrachten{
    padding-top: 180px;
}
#opdrachten h1, h2{
    text-align: center;
}
main section article{
    width: 80%;
    background-color:#BDBBF5 ;
    border-radius: 10px;
    height: 500px;
    margin: 0 auto;
    overflow: auto;
}
main section h2{
    padding: 50px;
}
main section article h4{
    padding-left: 50px;
}
main section article ul li,main section article ol li{
    margin-left: 50px;
}
::-webkit-scrollbar{
    display: none;
    /*https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp*/
}
#eindreflectie{
    background-image: linear-gradient(white, #0a58ca,#0a58ca,#0a58ca);
    margin-top: 50px;
    padding-top: 250px;
    text-align: center;
}
.pdf-eindreflectie{
    margin: 0 auto;
    width: 50%;
    height: 300;
}

