*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato",sans-serif;
}
nav{
    top: 0;
    margin: 0 auto;
    background-color: #0a58ca;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    opacity: 0.95;
    position: fixed;
}
nav ul{
    display: inline-flex;
    list-style-type: none;

}
nav ul li{
    margin: 0 auto;
}
nav ul li a p{
    color: #fff;
    padding: 2rem;
    font-size: 1.5rem;
    text-decoration: none;
}
nav ul li a p:hover{
    color: darkblue;
}
nav img{
     width: 7rem;
    margin: 0 auto;
 }

/*--- Wie ben ik page ---*/

.container__wie-ben-ik h1, .container__wie-ben-ik h3, .container__wie-ben-ik p{
    padding: 3rem;
}
.container__wie-ben-ik{
    padding-top: 12rem;
    text-align: center;
    background: radial-gradient(at 60% 40%,#0a58ca,white,white,white);
}
.container__wie-ben-ik img{
    width: 20rem;
}
.container__wie-ben-ik__item-1 img{
    width: 30%;
}
.wie-ben-ik-andere-info__item-1 img{
    width: 75%;
}
.container__wie-ben-ik__item-1{
    color: white;
    background-color: steelblue;
    border-radius: 10px;
    padding: 20px;
}
.container__wie-ben-ik-info__item, .wie-ben-ik-andere-info__item{
    padding-top: 50px;
    width: 100%;
 }

/*--- Projecten ---*/
.container__buildr-wpl2 iframe{
    width: 75%;
    border-radius: 25px;
}
.container__projecten{
    padding-top: 150px;
    text-align: center;
    /*https://www.w3schools.com/css/css3_gradients.asp*/
}
.projecten__item-1 img{
    width: 25%;
    border-radius: 10px;
}

.projecten__item-2 img{
    width: 25%;
    border-radius: 10px;
}
.projecten__item-2-ontwerpen, .projecten__item-2-logos, .projecten__item-2-ontwerpen-instagram-ads{
    margin-top: 150px;
}
.container__buildr-wpl2 button{
    background-color: #0a58ca;
    border-radius: 10px;
    border: none;
    color: white;
}
.container__buildr-wpl2 button a{
    text-decoration: none;
    color: white;
}
.container__buildr-wpl2 button a:hover{
    color: darkblue;
}

/*--- Opdrachten ---*/

.container__opdrachten-wpl-1{
    padding-top: 10rem;
}
.container__opdrachten-wpl-1 h1, h2{
    text-align: center;
}
.opdrachten-reflectie-seminaries{
    background-color: #0a58ca;
    color: white;
    border-radius: 10px;
}
.opdrachten__overig{
    color: #0a58ca;
    margin: 0 auto;
}

/*main section article ul li,main section article ol li{*/
/*    margin-left: 50px;*/
/*}*/


/*--- Eindreflectie ---*/

.container__eindreflectie{
    /*https://www.w3schools.com/css/css3_gradients.asp*/
    margin: 200px 0;
    padding-bottom:150px;
}
.wpl1, .wpl2{
    height: 500px;
    overflow: scroll;
}
/*--- Footer ---*/
.container-fluid__footer{
    background-color: #0a58ca;
    color: white;
}
.footer__social-media i{
    color: white;
}
.footer__social-media i:hover{
    color: steelblue;
}
.footer__persoonlijk{
    justify-content: start;
    border-right: 1px solid #0d6efd;
}
.footer__school{
    justify-content: end;
    border-left: 1px solid #0d6efd;
}
footer ul li{
    list-style-type: none;
}





/*@media screen and (max-width:820px){*/
/*    .container__wie-ben-ik,.container__wie-ben-ik-info__item, .container__wie-ben-ik-info__item h3{*/
/*        margin: 0 ;*/
/*        padding: 0;*/
/*    }*/
/*    .container__wie-ben-ik-andere-info__item-1{*/
/*        width: 750px;*/
/*    }*/
/*    nav, footer{*/
/*        width: 820px;*/
/*    }*/
/*    nav ul{*/
/*        padding: 0;*/
/*        margin: 0;*/
/*    }*/
/*    nav ul li a p{*/
/*        padding: 2px;*/
/*    }*/

/*}*/
/*@media screen and (max-width:1180px){*/
/*    .container__wie-ben-ik,.container__wie-ben-ik-info__item h3{*/
/*        margin: 0 auto;*/
/*        padding: 0;*/
/*    }*/
/*}*/
/*@media screen and (max-width:415px){*/
/*    nav ul li a img{*/
/*        width: 100px;*/
/*        margin: 0 auto;*/
/*    }*/
/*    nav ul li a p{*/
/*        display: none;*/
/*    }*/
/*    header,nav, footer, main{*/
/*        padding: 0;*/
/*        width: 414px;*/
/*    }*/
/*    main{*/
/*        padding-top: 0;*/
/*        margin-top: 0;*/
/*    }*/
/*.container__contact__item-1  {*/
/*        width: 200px;*/
/*    margin: 0;*/
/*    }*/
/*  article .container__wie-ben-ik__item-1 article h4,.container__wie-ben-ik__item-1 article ul li{*/
/*        width: 50px;*/
/*    }*/
/*    .container__contact__item-2{*/
/*        width: 0;*/
/*        display: none;*/
/*    }*/
/*}*/

