*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato",sans-serif;
}
/*--- Navbar (hergebruikt van wpl2) ---*/


div.navbar-fluid {
    padding-left: 12px;
    padding-right: 12px;
    margin: 0;
}

.navbar {
    background-color: #0a58ca;
    color: white;
    justify-content: space-between;

}


.jvg-navbar__logo {
    height: 5rem;
    margin: .2rem auto;
}

.nav-link {
    color: white;
    font-size: 100%;
    font-weight: 400;
    text-decoration: none;
}

/*.nav-link:active {*/
/*    background-color: #0939e0;*/
/*}*/


.navbar-nav {
    justify-content: center;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.navbar-nav > li {
    flex: 1;
    text-align: center;
}

div #navbarNav.collapse.navbar-collapse {
    justify-content: right;
}

button.navbar-toggler {
    color: #0a58ca;
    --bs-navbar-toggler-border-color: none;
}

.navbar-toggler-icon {
    background-image: url("assets/icon_hamburger_icon.png");
}

#activenav {
    font-weight: 700;
    border-bottom: 1px solid #CCCCCC;
}

.nav-logo_uitlijning{
    padding-left: 3.5vw;
}



.nav-link:focus {
    color: white;
}

.nav-link:hover {
    color: white;
}

.nav-link:active {
    font-weight: 600;
}


@media (max-width: 920px) {
    .jvg-navbar__logo {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        display: none;
        /*padding: 10px;*/
        background-color: #0a58ca;

    }


    .nav-link {
        color: white;
        font-weight: 600;
        background-color: #0a58ca;
        padding-right: 35px;
        font-size: 20px;
    }

    .nav-link:active {
        background-color: #0939e0;
    }


    .navbar-collapse.show {
        display: block;
        width: 100%;
        text-align-last: right;
    }

    .navbar-nav {
        display: block;
        margin: 0;
        padding: 0;
    }

    .navbar-nav > li {
        display: block;
    }

    .navbar-nav > li > a {
        display: block;
        padding-bottom: 1rem;
        padding-top: 1rem;
        text-align: center;

    }


    .jvg-navbar__logo {

        margin-left: 0;
    }

    .navbar div.navbar-fluid {
        padding-left: 12px;
        padding-right: 12px;
    }

    #activenav {
        display: none;
    }


}


/*--- Wie ben ik page ---*/


.container__wie-ben-ik{
    padding-top: 12rem;
    text-align: center;
    background: radial-gradient(at 60% 40%,#0a58ca,white,white,white);
}
.container__wie-ben-ik img{
    width: 20rem;
}
.container__wie-ben-ik__item-1 img{
    width: 30%;
}
.wie-ben-ik-andere-info__item-1 img{
    width: 75%;
}
.container__wie-ben-ik__item-1{
    color: white;
    background-color: steelblue;
    border-radius: 10px;
    padding: 20px;
}
.container__wie-ben-ik-info__item, .wie-ben-ik-andere-info__item{
    padding-top: 50px;
    width: 100%;
 }
@media (max-width:415px){
    html{
        width: 400px;
        margin: 0;
    }
    .footer__social-media{
        display: none;
    }
    .container__wie-ben-ik{
        background-color: transparent;
    }
}
/*--- Projecten ---*/
.container__buildr-wpl2 iframe{
    width: 75%;
    border-radius: 25px;
}
.container__projecten{
    padding-top: 150px;
    text-align: center;
    /*https://www.w3schools.com/css/css3_gradients.asp*/
}
.projecten__item-1 img{
    width: 25%;
    border-radius: 10px;
}

.projecten__item-2 img{
    width: 25%;
    border-radius: 10px;
}
.projecten__item-2-ontwerpen, .projecten__item-2-logos, .projecten__item-2-ontwerpen-instagram-ads{
    margin-top: 150px;
}
.container__buildr-wpl2 button{
    background-color: #0a58ca;
    border-radius: 10px;
    border: none;
    color: white;
}
.container__buildr-wpl2 button a{
    text-decoration: none;
    color: white;
}
.container__buildr-wpl2 button a:hover{
    color: darkblue;
}

/*--- Opdrachten ---*/

.container__opdrachten-wpl-1{
    padding-top: 10rem;
}
.container__opdrachten-wpl-1 h1, .container__opdrachten-wpl-1 h2{
    text-align: center;
}
.opdrachten-reflectie-seminaries{
    background-color: #0a58ca;
    color: white;
    border-radius: 10px;
}
.opdrachten__overig{
    color: #0a58ca;
    margin: 0 auto;
}

/*main section article ul li,main section article ol li{*/
/*    margin-left: 50px;*/
/*}*/


/*--- Eindreflectie ---*/

.container__eindreflectie{
    /*https://www.w3schools.com/css/css3_gradients.asp*/
    margin: 200px 0;
    padding-bottom:150px;
}
.wpl1, .wpl2{
    height: 500px;
    overflow: scroll;
}
.wpl2{
     margin-top:250px ;
 }
/*--- Footer ---*/
.container-fluid__footer{
    background-color: #0a58ca;
    color: white;
}
.footer__social-media i{
    color: white;
}
.footer__social-media i:hover{
    color: steelblue;
}
.footer__persoonlijk{
    justify-content: start;
    border-right: 1px solid #0d6efd;
}
.footer__school{
    justify-content: end;
    border-left: 1px solid #0d6efd;
}
footer ul li{
    list-style-type: none;
}

/*--- buildr-page ---*/
.buildr-logo img{
    width: 250px;
}
.container__buildr-info{
    text-align: center;
}
.buildr-website iframe{
    justify-content: center;
    width: 75%;
    border-radius: 10px;
}
.buildr-app img{
    width: 75%;
    margin-top: 10px;
}


